<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>National Parks Visits</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"/>
	<meta name="keywords"  />
	<meta name="author"  />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	
		<!-- FIREBASE INIT -->
	<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
		<!-- firebase SDK -->
	<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
	<link rel="icon" href="../PACLASS.png">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="owl.carousel.min.css">
	<link rel="stylesheet" href="owl.theme.default.min.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="flexslider.css">
	<!-- progressive web app  -->
	<link rel="manifest" href="manifest.json">

	<!-- Pricing -->
	<link rel="stylesheet" href="pricing.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body >
		
	
    <div class="page">
            <div class="header" style="margin-top: -60px;">
                <div class="logo"><span style="color: orangered; font-size:x-larger; font-style:italic">Tourist</span> Statistics</div>
                <div class="options">
                     <div
                    style="padding-right: 20px"><a href="../tourism.html"><i style="font-size: x-large;" class="icon-home"></i></a>
                    </div>
                    <div>
                         <select name="" id="drop-menu" style="border: none;outline:none;width:75px">
                            <option value="" style="display: none;">
                                
                                Arrivals
                            </option>
                            <option value="AddArrivals.html" style="position: absolute;">
                                Add Arrival 
                            </option>
                         </select>
                        <select name="" id="drop-menu" style="border: none;outline:none;width:100px">
                            <option value="" style="display: none;">
                                Departures
                            </option>
                            <option value="AddDeparture.html" style="position: absolute;">
                                Add Departure
                            </option>
                         </select>
                        <select name="" id="drop-menu" style="border: none;outline:none; color: rgb(0, 217, 255)">
                            <option value="" style="display: none;">
                                National parks
                            </option>
                            <option value="AddParks.html" style="position: absolute;">
                                Add park 
                            </option>
                            <option value="AddparkVisit.html" style="position: absolute;">
                                Add park visit
                            </option>
                         </select>
                        <select name="" id="drop-menu" style="border: none;outline:none;width:90px">
                            <option value="" style="display: none;">
                                Museums
                            </option>
                            <option value="AddMuseum.html" style="position: absolute;">
                                Add Museum 
                            </option>
                            <option value="Museumvisit.html" style="position: absolute;overflow-wrap:break-word">
                                Add Museum visit
                            </option>
                         </select>
                        <select name="" id="drop-menu" style="border: none;outline:none;">
                            <option value="" style="display: none;">
                                Heritage Sites
                            </option>
                            <option value="Addsite.html" style="position: absolute;">
                                Add site
                            </option>
                            <option value="sitevisit.html" style="position: absolute;">
                                Add site visit
                            </option>
                            
                         </select>
                    </div>
                    <div class="report"><a href="../report.html">Reports</a> </div>
                </div>
                <div class="info">
                    <div class="emp-number">Employee #: 002</div>
                     <div>
                        <a href="profile.html">
                            <div  class="profile" style="text-align: center; background-color:white; font-weight:bold;cursor:pointer"><span><i class="icon-user2" style="font-size: larger; color:orangered;font-weight:bold"></i></span> <span>Profile</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="statement" style="padding-top:40px">
                <h1>New Park Visits</h1>
                <div><span style="font-size: x-large; color:orangered;">New Park visits in Real Time</span> </div>
            </div>
            
            <div class="add-ar" >
              <div class="addarrival">
                  <form action="" class="natvisits-details">
                      <h2 style="color: orangered;">Add National Park visit <br> Details..</h2><hr>
                      <input type="text" class="number-natv" placeholder="Enter number of Tourists" style="color: rgb(0, 0, 0); padding:5px;border-radius: 10px;outline:none;border:none" required><br><br>
                      <div class="ar-flex">
                          <div>
                             
                              <select name="" id="natv-ctr" style="color: rgb(0, 0, 0); padding:5px;border-radius: 10px" required>
                                  <option value="" style="display: none;">Choose Nationality</option>
                                  <option value="Zambian" >Zambian</option>
                                  <option value="American" >American</option>
                                  <option value="Russian" >Russian</option>
                                  <option value="Nigerian" >Nigerian</option>
                                  <option value="South African" >South African</option>
                              </select>
                          </div>
                          <div>
                              <div type="text" class="natv-region" placeholder="Region" style="color: rgb(2, 255, 65); padding:5px;border-radius: 10px;height:30px;width:200px;background-color:rgb(119, 115, 115);font-weight:bolder">Region</div>
                          </div>
                         
                    </div><br>
                      <div class="ar-flex" style="display: flex;
                                 justify-content: space-around;">
                          <div>
                             
                             <select name="" id="natv-park" style="color: rgb(0, 0, 0); padding:5px;border-radius: 10px" required>
                                  <option value="" style="display: none;padding:5px;border-radius: 10px">Select Park Name</option>
                                  <option value="Luiwa" >Luiwa</option>
                                  <option value="Luangau" >Luangua</option>
                              </select>
                          </div>
                         
                    </div>
                    <br>
                     <hr>
                          <div style="color: rgb(255, 255, 255);margin-top:-20px">Month</div>
                      <select name="" id="natv-mon" style="color: black;padding:5px;border-radius: 10px" required>
                          <option value="" style="display: none;">Select the month</option>
                          <option value="January">January</option>
                          <option value="February">February</option>
                          <option value="March">March</option>
                          <option value="April">April</option>
                          <option value="May">May</option>
                          <option value="June">June</option>
                          <option value="July">July</option>
                          <option value="August">August</option>
                          <option value="September">September</option>
                          <option value="October">October</option>
                          <option value="November">November</option>
                          <option value="December">December</option>
                      </select>
                          <div style="color: rgb(255, 255, 255);">Year</div>
                      <select name="" id="natv-year" style="color: rgb(0, 0, 0); padding:5px;border-radius: 10px" required>
                          <option value="" style="display: none;">Select the Year</option>
                          <option value="2021">2021</option>
                          <option value="2020">2020</option>
                          <option value="2019">2019</option>
                          <option value="2018">2018</option>
                          <option value="2017">2017</option>
                          <option value="2016">2016</option>
                          <option value="2015">2015</option>
                          <option value="2014">2014</option>
                      </select><br><br>
                        <button class="add-btn" id="natvi-btn" style="color: white;border-radius:10px;background-color:rgb(83, 191, 241);outline:none; border:none;">Add Details</button>
                  </form>
              </div>
              <div class="ar-table">
                   <div class="succesEntry">successfully added new Data</div>
                  <div class="Warning" >No Park Visit Data entered yet!</div>
                     <table style="width: 800px;">
                         <caption style="text-align: center;color:rgb(28, 3, 245);font-weight:bolder;">Data Entered So far</caption>
                         <tr class="t-h" style="background-color:#131921; color:white; margin:30px">
                             <th>S/N</th>
                             <th>ID</th>
                             <th>Employee</th>
                             <th>Tourists No#</th>
                             <th>Nationality</th>
                             <th>Region</th>
                             <th>Park Name</th>
                             <th>Month</th>
                             <th>Year</th>
                             <th>Edit</th>
                         </tr>
                         <tbody class="natv-data">
                       
                             
                             
                            
                           
                         </tbody>
                     </table>
                  </div>
            </div>
        </div>
	
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	<script src="firebase.js"></script>
    <script src="Scroll.js"></script>
	</body>
</html>

